<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="router-link-active">List of All products</a>
    <ul class="navbar-nav">

      <input id="typeahead-basic" class="form-control" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]="filterText" />


    </ul>
  </div>
</nav>
<section class="wrapper">
  <div class="container-fostrap">
    <div class="my-2 w-25">
      <h3 class="title-cat">Categories:</h3>
      <select class="form-control" (change)="filterCategory($event)">
        <option>All</option>
        <option value="{{option}}" *ngFor="let option of categories">{{option}}</option>
      </select>
    </div>


    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4" *ngFor="let item of products | filter: filterText">
            <div class="card">
              <div class="first">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="discount">-{{item.discountPercentage}}%</span>
                </div>
              </div>
              <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                <img src="{{item.thumbnail}}" />
              </a>

              <div class="card-content">
                <h4 class="card-title">
                  <a href=""> {{item.title}}
                  </a>
                </h4>
                <a href="#" class="text-muted" data-abc="true">{{item.brand}}</a>

                <p class="">
                  {{item.description}}
                </p>
                <h3 class="mb-0 font-weight-semibold">${{item.price}}</h3>
                <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true"></ngb-rating>
                <div class="text-muted mb-3"> {{item.rating}} reviews</div>

              </div>
              <div class="card-read-more">
                <a href="" class="btn btn-outline-success" routerLink="/products/{{item.id}}">
                  Read More
                </a>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>